@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.2s;
    box-sizing: border-box;
    font-family: 'Lemon', cursive;
}

h1,
h3,
h3,
h4,
h5,
h6,
p,
span,
ul,
li {
    margin: 0 !important;
    max-width: 90%;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--gray);
}

/* loader */

.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    transition: all 0.6s;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    z-index: 1111111111111111;
}

.loader span {
    width: 50px;
    height: 70vh;
    margin: 0 20px;
    background: transparent;
    animation: loading 1.4s linear infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

.loader span:nth-child(4) {
    animation-delay: 0.6s;
}

.loader span:nth-child(5) {
    animation-delay: 0.8s;
}

.loader span:nth-child(6) {
    animation-delay: 1s;
}

.loader span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes loading {
    0% {
        box-shadow: 0 0 0 rgba(0, 255, 255, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }

    50% {
        box-shadow: 0 20px 50px rgba(0, 255, 255, 0.5);
        opacity: 1;
        transform: translateX(0) scale(1.2);
    }

    100% {
        box-shadow: 0 0 0 rgba(0, 0, 255, 255.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}

/* Sections */

.section {
    width: 100%;
    height: 100vh;
    transition: 1.7s;
    overflow: hidden;
}

.section-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 11111;
    position: fixed;
    background: var(--gray);
    transition: all 1.5s;
    transform: translateY(100vh);
    box-shadow: 10px 3px 25px 15px var(--navigation-color);
}


/* end sections */

.box {
    background: var(--gray);
    color: #fff;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);
}


canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.h-100vh {
    height: 100vh;
}

.mt--top {
    margin-top: -80px;
}

.banner-font {
    cursor: default;
    font-size: 4em;
    font-weight: 900
}

.br {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.z-index-1 {
    z-index: 1;
}

.basic-color {
    color: transparent;
    -webkit-text-stroke: 2px var(--navigation-color)
}

.rubber {
    display: flex;
    font-size: 0.9em;
    letter-spacing: 0.2em !important;
}

.rubber span.blast {
    color: transparent;
    animation-name: rubberBand;
    animation-duration: 1s;
    -webkit-text-stroke: 5px var(--navigation-color)
}

.type,
.smaller {
    font-size: 0.7em;
}

.typed-cursor {
    font-size: 0.7em;
    color: transparent;
    -webkit-text-stroke: 2px var(--navigation-color)
}

.download-btn {
    margin: 20px 0;
    font-size: 0.3em;
    overflow: hidden;
    z-index: 11111111;
    padding: 10px 50px;
    position: relative;
    text-decoration: none;
    background: transparent;
    color: var(--navigation-color);
    border: 1px solid var(--navigation-color);
}

.download-btn a {
    color: var(--navigation-color);
    text-decoration: none;
}

.download-btn:hover a {
    color: var(--gray);
}

.download-btn::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    z-index: -111;
    position: absolute;
    transition: all 0.5s;
    border-radius: 0 0 50% 50%;
    background: var(--navigation-color);
}

.download-btn:hover::before {
    height: 180%;
}

.about-me-ul li {
    list-style: none;
    font-size: 16px;
    padding: 0px 12px;
    position: relative;
    /* color: transparent; */
    border-left: 2px solid #fff;
    /* -webkit-text-stroke: 0.5px var(--white) */
}

.about-me-ul li:nth-child(2) {
    padding: 40px 12px;
}

.about-me-ul li::before {
    left: -12px;
    content: "⚪";
    position: absolute;
}

.circular-progress {
    width: 140px;
    height: 140px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.circular-progress:before {
    content: "";
    height: 84%;
    width: 84%;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.value-container {
    position: relative;
}

@media (max-width: 608px) {
    .circular-progress {
        width: 100px;
        height: 100px;
    }
}

/* .skill {
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;
    background: var(--navigation-color)
}

.skill .outer {
    width: 160px;
    height: 160px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.6),
                -6px -6px 10px -1px rgba(0, 0, 0, 0.3)
}

.skill .outer .inner {
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.6),
                inset -4px -4px 6px -1px rgba(0, 0, 0, 0.3),
                -0.5px -0.5px 0px rgba(0, 0, 0, 1),
                -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    color: #fff;
}

.skill svg {
    top: 0;
    left: 0;
    position: absolute;
}

.skill svg circle {
    fill: none;
    stroke-linecap: butt;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    transition: all 0.5s;
    stroke: url(#GradientColor);
}

@media (max-width: 420px) {
    .skill, .skill svg, .skill .outer {
        width: 100px;
        height: 100px;
    }
    .skill svg circle {
        stroke-width: 15px;
        cx: 50;
        cy: 50;
        r: 40;
    }
    .skill .outer .inner {
        width: 60px;
        height: 60px;
    }
    
} */

/* .animate-skill svg circle {
    animation-name: anim;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation: anim 2s linear forwards;
} */


/* @keyframes anim {
    100% {
        stroke-dashoffset: progress-count;
    }
} */

/* .about-title {
    color: transparent !important;
    -webkit-text-stroke: 1px var(--white)
}

.about-subtitle {
    color: transparent !important;
    -webkit-text-stroke: 0.7px var(--white)
} */

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@media (max-width: 816px) {
    .banner-font {
        cursor: default;
        font-size: 3em;
        font-weight: 900
    }

    .rubber span {
        font-size: 1em;
    }

    .about-title {
        font-size: 1.5em;
    }

    .about-subtitle {
        font-size: 1.1em;
    }

    .about-me-ul {
        left: -20px;
    }

    .about-me-ul li::before {
        content: "";
    }

    .about-me-ul li {
        font-size: 0.8em;
    }
}

@media (max-width: 576px) {
    .banner-font {
        cursor: default;
        font-size: 2.5em;
        font-weight: 900
    }

    .rubber span.blast {
        -webkit-text-stroke: 2px var(--navigation-color)
    }
}

@media (max-width: 486px) {
    .banner-font {
        cursor: default;
        font-size: 2em;
        font-weight: 900
    }

    .download-btn {
        padding: 8px 30px;
        font-size: 0.4em;
    }
}

@media (max-width: 422px) {
    .rubber span {
        font-size: 1.3em
    }

    .type,
    .typed-cursor {
        cursor: default;
        font-size: 0.7em;
        font-weight: 900
    }

    .about-title {
        font-size: 1.2em;
    }

    .about-subtitle {
        font-size: 0.9em;
    }

    .about-me-ul li {
        font-size: 0.6em;
    }
}

@media (max-width: 376px) {
    .banner-font {
        cursor: default;
        font-size: 1.5em;
        font-weight: 900
    }
}

.container {
    padding-right: 100px;
}