* {
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.2s;
    box-sizing: border-box;
    font-family: sans-serif
}

h1,h3,h3,h4,h5,h6 {margin: 0 !important}

body {
    width: 100%;
    height: 100vh;
    background: var(--gray);
}

/* Sections */

.section {
    width: 100%;
    height: 100vh;
    transition: 1.7s;
    overflow: hidden;
}

.section.hiding {
    transform: translate(-50%, -50%);
    height: 0;
}

.section-loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 11111;
    position: fixed;
    background: #000;
    transition: all 1.5s;
    transform: translateY(100%);
    box-shadow: 10px 3px 25px 15px var(--navigation-color);
}

.section-loader.section-loader-2 {
    transform: translateY(-100%)
}

.section-loader.active {
    transform: translateY(50%);
}

.section-loader.section-loader-2.active {
    transform: translateY(-50%);
}

/* end */



/* end sections */


canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.h-100vh {
    height: 100vh;
}

.banner-font {
    cursor: default;
    font-size: 4em;
    font-weight: 900
}

.br {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.z-index-1 {
    z-index: 1;
}

.basic-color {
    color: transparent;
    -webkit-text-stroke: 2px var(--navigation-color)
}

.rubber {
    display: flex;
    font-size: 0.9em;
    letter-spacing: 0.2em !important;
}

.rubber span.blast {
    color: transparent;
    animation-name: rubberBand;
    animation-duration: 1s;
    -webkit-text-stroke: 5px var(--navigation-color)
}

.type, .smaller {
    font-size: 0.7em;
}

.typed-cursor {
    font-size: 0.7em;
    color: transparent;
    -webkit-text-stroke: 2px var(--navigation-color)
}

.download-btn {
    margin: 20px 0;
    font-size: 0.3em;
    overflow: hidden;
    z-index: 11111111;
    padding: 10px 50px;
    position: relative;
    text-decoration: none;
    background: transparent;
    color: var(--navigation-color);
    border: 1px solid var(--navigation-color);
}

.download-btn a {
    color: var(--navigation-color);
    text-decoration: none;
}

.download-btn:hover a {
    color: var(--gray);
}

.download-btn::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    z-index: -111;
    position: absolute;
    transition: all 0.5s;
    border-radius: 0 0 50% 50%;
    background: var(--navigation-color);
}

.download-btn:hover::before {
    height: 180%;
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@media (max-width: 816px) {
    .banner-font {
        cursor: default;
        font-size: 3em;
        font-weight: 900
    }
    .rubber span {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .banner-font {
        cursor: default;
        font-size: 2.5em;
        font-weight: 900
    }
    .rubber span.blast {
        -webkit-text-stroke: 2px var(--navigation-color)
    }
}

@media (max-width: 486px) {
    .banner-font {
        cursor: default;
        font-size: 2em;
        font-weight: 900
    }
    .download-btn {
        padding: 8px 30px;
        font-size: 0.4em;
    }
}

@media (max-width: 422px) {
    .rubber span {
        font-size: 1.3em
    }
    .type, .typed-cursor {
        cursor: default;
        font-size: 0.7em;
        font-weight: 900
    }
}

@media (max-width: 376px) {
    .banner-font {
        cursor: default;
        font-size: 1.5em;
        font-weight: 900
    }
}