@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.2s;
    box-sizing: border-box;
    font-family: 'Lemon', cursive;
}


/* Track */
::-webkit-scrollbar {
    width: 6px;
    border-radius: 5px;
    border: 0.2px solid var(--navigation-color);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--navigation-color);
}


.text-light {
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--gray);
}

/* loader */

.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    transition: all 0.6s;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    z-index: 1111111111111111;
}

.loader span {
    width: 50px;
    height: 70vh;
    margin: 0 20px;
    background: transparent;
    animation: loading 1.4s linear infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

.loader span:nth-child(4) {
    animation-delay: 0.6s;
}

.loader span:nth-child(5) {
    animation-delay: 0.8s;
}

.loader span:nth-child(6) {
    animation-delay: 1s;
}

.loader span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes loading {
    0% {
        box-shadow: 0 0 0 rgba(0, 255, 255, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }

    50% {
        box-shadow: 0 20px 50px rgba(0, 255, 255, 0.5);
        opacity: 1;
        transform: translateX(0) scale(1.2);
    }

    100% {
        box-shadow: 0 0 0 rgba(0, 0, 255, 255.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}

/* Sections */

.section {
    width: 100%;
    height: 100vh;
    transition: 1.7s;
    overflow: hidden;
}

.section-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 11111;
    position: fixed;
    background: var(--gray);
    transition: all 1.5s;
    transform: translateY(100vh);
    box-shadow: 10px 3px 25px 15px var(--navigation-color);
}

section#home::before {
    right: 150px;
    font-size: 110px;
    color: transparent;
    position: absolute;
    content: "😎";
    -webkit-text-stroke: 2px #000;
}

section#about-me::before {
    font-size: 110px;
    color: transparent;
    position: absolute;
    content: "About me🙋‍♂️";
    -webkit-text-stroke: 2px #000;
}

section#skills::before {
    bottom: 20px;
    font-size: 110px;
    color: transparent;
    position: absolute;
    content: "My Skills💪";
    -webkit-text-stroke: 2px #000;
}

section#work::before {
    top: -10px;
    right: 180px;
    z-index: 11;
    font-size: 90px;
    color: transparent;
    position: absolute;
    content: "What did I❓";
    -webkit-text-stroke: 2px #000;
}

section#blog::before {
    top: 10px;
    left: 40px;
    z-index: 11;
    font-size: 130px;
    color: transparent;
    position: absolute;
    content: "Blogs⚽️";
    -webkit-text-stroke: 2px #000;
}

section#contact::before {
    top: 10px;
    left: 40px;
    z-index: 11;
    font-size: 110px;
    color: transparent;
    position: absolute;
    content: "Contact me🤙";
    -webkit-text-stroke: 2px #000;
}

/* end sections */

.box {
    background: var(--gray);
    color: #fff;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);
}

canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.h-100vh {
    height: 100vh;
}

.mt--top {
    margin-top: -80px;
}

.banner-font {
    cursor: default;
    font-size: 4em;
    font-weight: 900
}

.br {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.z-index-1 {
    z-index: 1;
}

.basic-color {
    color: transparent;
    -webkit-text-stroke: 2px var(--navigation-color)
}

.rubber {
    display: flex;
    font-size: 0.9em;
    letter-spacing: 0.2em !important;
}

.rubber span.blast {
    color: transparent;
    animation-name: rubberBand;
    animation-duration: 1s;
    -webkit-text-stroke: 5px var(--navigation-color)
}

.type,
.smaller {
    font-size: 0.7em;
}

.typed-cursor {
    font-size: 0.7em;
    color: transparent;
    -webkit-text-stroke: 2px var(--navigation-color)
}

.download-btn {
    margin: 20px 0;
    font-size: 0.3em;
    overflow: hidden;
    z-index: 11111111;
    padding: 10px 50px;
    position: relative;
    text-decoration: none;
    background: transparent;
    color: var(--navigation-color);
    border: 1px solid var(--navigation-color);
}

.download-btn a {
    color: var(--navigation-color);
    text-decoration: none;
}

.download-btn:hover a {
    color: var(--gray);
}

.download-btn::before {
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    z-index: -111;
    position: absolute;
    transition: all 0.5s;
    border-radius: 0 0 50% 50%;
    background: var(--navigation-color);
}

.download-btn:hover::before {
    height: 180%;
}

.svg-ico {
    width: 25px;
    height: 25px;
}

.about-me-ul li {
    list-style: none;
    font-size: 16px;
    padding: 0px 12px;
    position: relative;
    /* color: transparent; */
    border-left: 2px solid #fff;
    /* -webkit-text-stroke: 0.5px var(--white) */
}

.about-me-ul li:nth-child(2) {
    padding: 40px 12px;
}

.about-me-ul li::before {
    left: -12px;
    content: "⚪";
    position: absolute;
}

.circular-progress {
    width: 140px;
    height: 140px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.circular-progress:before {
    content: "";
    height: 84%;
    width: 84%;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.value-container {
    position: relative;
}

.work-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.work-img img {
    width: 100%;
    height: auto;
    min-height: 200px;
    transition: all 0.7s;
}

.work-img .background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    position: absolute;
    transition: all 0.7s;
    background: rgba(0, 0, 0, 0.5);
}

.work-img .content {
    width: 100px;
    height: 100px;
    display: flex;
    z-index: 11111;
    color: #000;
    font-size: 13px;
    transform: scale(0);
    border-radius: 50%;
    position: absolute;
    align-items: center;
    transition: all 0.7s;
    text-decoration: none;
    justify-content: center;
    background: var(--navigation-color);
}

.work-img:hover .content {
    transform: scale(1);
}

.work-img:hover .background {
    transform: scale(0);
}

.work-img:hover img {
    transform: scale(1.25);
}

.responsive-col {
    width: calc(93% / 3);
}

@media (max-width: 768px) {
    .responsive-col {
        width: calc(94% / 2)
    }
}

@media (max-width: 568px) {
    .responsive-col {
        width: 95%;
    }

    .work-img {
        height: auto;
    }

    .work-img img {
        width: 100%;
        height: 150px;
        min-height: 0;
    }
}

.scrollbar-wrapper {
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow: auto;
}

@media (max-height: 700px) {
    .scrollbar-wrapper {
        max-height: 500px;
    }
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.gap-3 {
    gap: 20px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pt-3 {
    padding-top: 30px;
}

.pb-3 {
    padding-bottom: 30px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-3 {
    margin-bottom: 30px;
}

@media (max-width: 608px) {
    .circular-progress {
        width: 100px;
        height: 100px;
    }
}

@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1)
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1)
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        -ms-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1)
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        -ms-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@media (max-width: 816px) {
    .banner-font {
        cursor: default;
        font-size: 3em;
        font-weight: 900
    }

    .rubber span {
        font-size: 1em;
    }

    .about-title {
        font-size: 1.5em;
    }

    .about-subtitle {
        font-size: 1.1em;
    }

    .about-me-ul {
        left: -20px;
    }

    .about-me-ul li::before {
        content: "";
    }

    .about-me-ul li {
        font-size: 0.8em;
    }

    .work-img .content {
        width: 80px;
        height: 80px;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .banner-font {
        cursor: default;
        font-size: 2.5em;
        font-weight: 900
    }

    .rubber span.blast {
        -webkit-text-stroke: 2px var(--navigation-color)
    }
}

@media (max-width: 486px) {
    .banner-font {
        cursor: default;
        font-size: 2em;
        font-weight: 900
    }

    .download-btn {
        padding: 8px 30px;
        font-size: 0.4em;
    }
}

@media (max-width: 422px) {
    .rubber span {
        font-size: 1.3em
    }

    .type,
    .typed-cursor {
        cursor: default;
        font-size: 0.7em;
        font-weight: 900
    }

    .about-title {
        font-size: 1.2em;
    }

    .about-subtitle {
        font-size: 0.9em;
    }

    .about-me-ul li {
        font-size: 0.6em;
    }
}

@media (max-width: 376px) {
    .banner-font {
        cursor: default;
        font-size: 1.5em;
        font-weight: 900
    }
}

/* container */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-right: 100px;
    padding-left: 30px;
}

/* row */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-sm-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-lg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-xl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}